@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$black: rgba(0, 0, 0, 1);
$oxford-blue: rgba(20, 33, 61, 1);
$orange-web: rgba(252, 163, 17, 1);
$platinum: rgba(229, 229, 229, 1);
$white: rgba(255, 255, 255, 1);
$gray: #c4c4c4;
$jc: center;
$ac: center;
$fd: column;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex($jc: $jc, $ac: $ac, $fd: $fd){
    display:flex;
    justify-content: $jc;
    align-items: $ac;
    flex-direction: $fd;
}

@mixin reset(){
    border:none;
    outline:none;
}

body{
    @include flex();
    font-family: "Montserrat";
    color:white;
    overflow-x:hidden;
    background:$oxford-blue;
}

.inputField{
    @include reset;
    border-radius: 15px;
    padding:.25rem;
    margin-bottom: .5rem;
    &::placeholder{
        text-align: center;
    }
}

.btn{
    @include reset;
    color:black;
    background:$gray;
    padding:.5rem 2rem;
    margin: 1rem;
    border-radius:25px;
    cursor:pointer;
    transition-duration: .3s;
    &:hover{
        transform: scale(1.3);
    }
}

.btn_invisible{
    @extend .btn;
    background:none;
    padding: 0rem;
    color:white;
    font-weight: bold;
    font-size: 2rem;
}

.Welcome{
    @include flex();
}

.Register{
    Form{
        @include flex();
    }
}

.passWordInfoBox{
    font-size: .4rem;
    color:gray;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    justify-content: center;
}

table td{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.cards{
    width:4.5rem;
    height:7rem;
    border-radius: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:.5rem;
    position: relative;
}

.black{
    background-color:black;
}

.blue{
    background-color: blue;
}

.green{
    background-color:green;
}

.yellow{
    color:black;
    background-color:yellow;
}

.red{
    background-color:red;
}

.cardValue{
    width: 100%;
    height: 100%;
}

.zero{
    background-position: center;
    background-size: cover;
    background-image: url('./assets/0.png');
}

.one{
    background-position: center;
    background-size: cover;
    background-image: url('./assets/1.png');
}
.two{
    background-position: center;
    background-size: cover;
    background-image: url('./assets/2.png');
}
.three{
    background-position: center;
    background-size: cover;
    background-image: url('./assets/3.png');
}
.four{
    background-position: center;
    background-size: cover;
    background-image: url('./assets/4.png');
}
.five{
    background-position: center;
    background-size: cover;
    background-image: url('./assets/5.png');
}
.six{
    background-position: center;
    background-size: cover;
    background-image: url('./assets/6.png');
}
.seven{
    background-position: center;
    background-size: cover;
    background-image: url('./assets/7.png');
}
.eight{
    background-position: center;
    background-size: cover;
    background-image: url('./assets/8.png');
}
.nine{
    background-position: center;
    background-size: cover;
    background-image: url('./assets/9.png');
}
.skip{
    background-position: center;
    background-size: cover;
    background-image: url('./assets/skip.png');
}
.reverse{
    background-position: center;
    background-size: cover;
    background-image: url('./assets/reverse.png');
}
.drawTwo{
    background-position: center;
    background-size: cover;
    background-image: url('./assets/drawTwo.png');
}
.drawFour{
    background-color: rgba(0,0,0,0);
    background-position: center;
    background-size: cover;
    background-image: url('./assets/drawFour.png');
}
.wild{
    background-color: rgba(0,0,0,0);
    background-position: center;
    background-size: cover;
    background-image: url('./assets/wild.png');
}

.PlayerHand{
    display: flex;
    margin: 1rem;
}
